*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(239, 135, 49);
}


.produto{
    background-color: #ffff;
    margin: auto;
    margin-top: 100px;
    width: 430px;
    height: 420px;
    border-radius: 8px;
}


.img img{
    width: 200px;
}




.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.descricao{
    font-size: 1rem;
    padding: 0 20px;
}
.preco{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.preco >p {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}


button{
   margin-top: 10px;
   background-color:#00FA9A;
   width: 100px;
   height: 36px;
   border-radius: 10px;
}